:root {
  --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --black: #0a0c0d;
  --green: #348e91;
  --greey: #f2f2f2;
  --fondo: #f8f9fa;
  --link: #3498db;
  --green2: #213635;
  --fontGreey: #707070;
}
html {
  font-size: 62.5%; /* 10px = 1rem*/
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font);
  color: var(--black);
  line-height: 1.6;
  background-color: var(--fondo);
}
.container {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: min(90%, 120rem);
    margin: 0 auto;
    border-radius: 1.2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  .header {
    border-radius: 0.5rem 0.5rem 0 0;
    margin-top: 2rem;
  }
}
/* ------------- HEADER -------------- */
.header {
  background-image: linear-gradient(
    to right,
    #348e91,
    #2e7e81,
    #286e71,
    #225f61,
    #1c5052
  );
}

.header-content {
  color: var(--greey);
  padding: 1rem;
  text-align: center;
}
.name {
  font-size: clamp(2rem, 6vw, 3rem);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.7rem;
}
.age {
  font-size: clamp(2rem, 5vw, 2.5rem);
  font-weight: normal;
  margin-bottom: 1rem;
  font-style: italic;
}
.contact-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media (min-width: 768px) {
  .contact-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }
}

.contact-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  font-size: clamp(1.15rem, 3vw, 1.3rem);
}
.contact-item i {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
  color: var(--greey);
  margin-left: 0.5rem;
}
a:hover {
  color: var(--link);
  text-decoration-line: underline;
}
.contact-item:hover i {
  transform: scale(1.2);
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.3);
}
/* ------- Main -------- */
.main {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .main {
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
    gap: 1rem;
  }
}

/* ---------- Left Column ---------- */
.left-column {
  background-color: var(--greey);
  padding: 2rem;
}
.section-title {
  font-size: clamp(2rem, 5vw, 2rem);
  text-transform: uppercase;
  border-bottom: 2px solid var(--green);
  margin-bottom: 1.5rem;
}
.section-title i {
  color: var(--green);
}
.education-item,
.skill-grid,
.language-item,
.profile-sumary,
.certification-item {
  background-color: var(--fondo);
  padding: 1rem;
  border-radius: 0.8rem;
  border-left: 0.4rem solid var(--green);
  margin-bottom: 1.5rem;
  transition: 0.3s;
  cursor: pointer;
}
.education-item:hover,
.language-item:hover,
.certification-item:hover {
  transform: translatex(0.2rem);
  transition: 0.3s;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}
.education-title,
.company,
.role-title {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-weight: 600;
  font-size: clamp(1.5rem, 4vw, 2.1rem);
  line-height: 1.1;
  font-style: normal;
  margin-bottom: 1rem;
}
.education-institution,
.position {
  color: var(--link);
  display: flex;
  gap: 0.8rem;
  align-items: center;
  font-size: clamp(1.15rem, 3vw, 1.5rem);
  line-height: 1.3;
  margin-bottom: 1rem;
}
.education-date,
.date-location {
  font-size: clamp(1.15rem, 3vw, 1.5rem);
  color: var(--fontGreey);
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.skill-category-title {
  font-size: clamp(1.15rem, 3vw, 1.5rem);
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.skill-tag {
  background-color: var(--green);
  color: var(--fondo);
  width: fit-content;
  padding: 0.5rem;
  border-radius: 0.8rem;
  margin-bottom: 0.8rem;
  font-size: 1.25rem;
  transition: 0.4s;
}
.skill-tag:hover {
  transform: translateY(-0.2rem);
  transition: 0.4s;
}

.certificate-name {
  cursor: pointer;
  display: flex;
  gap: 0.8rem;
  align-items: center;
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}
.fa-award {
  display: flex;
  margin-left: auto;
  opacity: 0.1;
  font-size: 24px;
}
.img {
  width: 24px;
  height: 24px;
}
.img-udemy {
  width: 40px;
}
.certification-provider {
  color: var(--link);
  border-left: 0.3rem solid var(--fontGreey);
  padding-left: 0.8rem;
  font-size: 1.6rem;
}
.language-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: pointer;
}
.language-name,
.language-level {
  font-size: clamp(1.25rem, 3vw, 1.8rem);
}
.language-level {
  background-color: var(--green);
  padding: 0.5rem 1.5rem;
  border-radius: 0.8rem;
  color: var(--fondo);
}
/* ---------- Rigth Column ---------- */
.rigth-column {
  padding: 2rem;
}
.profile-sumary,
.role-section {
  background-color: rgba(52, 142, 145, 0.3);
  border-left: 0.4rem solid var(--green);
  font-size: clamp(1.25rem, 2.5vw, 1.5rem);
}
.role-section {
  background-color: rgba(52, 142, 145, 0.05);
  padding: 0.8rem;
  margin-top: 1rem;
  border-radius: 0.5rem 0.5rem 0 0;
}
.role-title {
  border-bottom: 0.25rem solid var(--green);
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}
.responsibilities {
  padding: 1rem;
}
.responsibilities li {
  list-style-type: square;
  padding: 1rem;
  margin-bottom: 1rem;
  line-height: 1.6;
}
